


<% include partials/header %>

<body class=" login"
  data-admin-utc-offset="19800">

<!-- Container -->
<div id="container">


    <!-- Header -->
    <div id="header">
        <div id="branding">

<h1 id="site-name"><a href="/admin/">Node administration</a></h1>

        </div>


    </div>
    <!-- END Header -->

<!-- Content -->

    <div id="content" class="colM">


<div id="content-main">



<form action="/admin/login" method="post" id="login-form">
  <div class="form-row">

    <label class="required" for="id_username">Username:</label> <input type="text" name="email" autofocus required id="id_username" maxlength="254" />
  </div>
  <div class="form-row">

    <label class="required" for="id_password">Password:</label> <input type="password" name="password" required id="id_password" />
  </div>

  <div class="submit-row">
    <label>&nbsp;</label><input type="submit" value="Log in" />
  </div>
</form>

</div>


        <br class="clear" />
    </div>
    <!-- END Content -->

    <div id="footer"></div>
</div>
<!-- END Container -->

<% include ./partials/footer %>
