<link rel="stylesheet" type="text/css" href="/admin/css/changelists.css" />


  <script type="text/javascript" src="/jsi18n"></script>


<script type="text/javascript" src="/admin/js/core.js"></script>
<script type="text/javascript" src="/admin/js/vendor/jquery/jquery.js"></script>
<script type="text/javascript" src="/admin/js/jquery.init.js"></script>
<script type="text/javascript" src="/admin/js/admin/RelatedObjectLookups.js"></script>
<script type="text/javascript" src="/admin/js/actions.js"></script>
<script type="text/javascript" src="/admin/js/urlify.js"></script>
<script type="text/javascript" src="/admin/js/prepopulate.js"></script>
<script type="text/javascript" src="/admin/js/vendor/xregexp/xregexp.js"></script>

<% include partials/header %>

<div class="breadcrumbs">
<a href="/">Home</a>
&rsaquo; <a href="/">Node_Backend</a>
&rsaquo; Notes
</div>


    <!-- Content -->
    <div id="content" class="flex">

        <h1>Select Notes to change</h1>

  <div id="content-main">

        <ul class="object-tools">


            <li>

              <a href="/admin/django_backend/selflearning/add/" class="addlink">
                Add Notes
              </a>
            </li>


        </ul>


    <div class="module" id="changelist">



      <form id="changelist-form" method="post" novalidate>




<div class="actions">
    <label>Action: <select name="action" required>
  <option value="" selected>---------</option>

  <option value="delete_selected">Delete selected Notes</option>

</select></label><input type="hidden" name="select_across" value="0" class="select-across" />
    <button type="submit" class="button" title="Run the selected action" name="index" value="0">Go</button>

        <span class="action-counter" data-actions-icnt="1">0 of 1 selected</span>


</div>




<div class="results">
<table id="result_list">
<thead>
<tr>

<th scope="col"  class="action-checkbox-column">

   <div class="text"><span><input type="checkbox" id="action-toggle" /></span></div>
   <div class="clear"></div>
</th>
<th scope="col"  class="column-__str__">

   <div class="text"><span>Notes</span></div>
   <div class="clear"></div>
</th>
</tr>
</thead>
<tbody>

<% subjects.forEach(function(subject){ %>

<tr class="row1"><td class="action-checkbox"><input type="checkbox" name="_selected_action" value="5" class="action-select" /></td><th class="field-__str__"><a href="/admin/django_backend/notes/<%= subject._id %>/change/"><%= subject.fileName %></a></th></tr>

<% }) %>
</tbody>
</table>
</div>


<p class="paginator">

</p>

      </form>
    </div>
  </div>


        <br class="clear" />
    </div>
    <!-- END Content -->

    <div id="footer"></div>
</div>
<!-- END Container -->


<% include partials/footer %>
